@model List<DynamicField.Models.Product>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table class="table" id="productTable">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr class="productRow">
                    <td>
                        @Html.Hidden("products.Index", i)
                        @Html.TextBox("products[" + i + "].ProductId", Model[i].ProductId, new { @readonly = "readonly", @Name = "Id" })
                    </td>
                    <td>
                        @Html.TextBox("products[" + i + "].Name", Model[i].Name, new { @Name = "Name" })
                    </td>
                    <td>
                        @Html.TextBox("products[" + i + "].Category", Model[i].Category, new { @Name = "Category" })
                    </td>
                    <td>
                        @Html.TextBox("products[" + i + "].Price", Model[i].Price, new { @Name = "Price" })
                    </td>
                    <td>
                        @Html.TextBox("products[" + i + "].Stock", Model[i].Stock, new { @Name = "Stock" })
                    </td>
                    <td>
                        <button type="button" class="removeRow btn btn-danger">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" id="addRow" class="btn btn-primary">Add Row</button>
    <input type="submit" value="Submit" class="btn btn-success" />
}

<!-- Template row for cloning -->
<div id="templateRow" style="display:none;">
    <tr class="productRow">
        <td>
            @Html.Hidden("products.Index", 0)
            @Html.TextBox("products[0].ProductId", "", new { @readonly = "readonly" })
        </td>
        <td>
            @Html.TextBox("products[0].Name", "")
        </td>
        <td>
            @Html.TextBox("products[0].Category", "")
        </td>
        <td>
            @Html.TextBox("products[0].Price", "")
        </td>
        <td>
            @Html.TextBox("products[0].Stock", "")
        </td>
        <td>
            <button type="button" class="removeRow btn btn-danger">Remove</button>
        </td>
    </tr>
</div>
<script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
<script>
$(document).ready(function() {
    var rowCount = @Model.Count;

    $(document).on('click', '#addRow', function () {
        var $newRow = $('#templateRow').find('tr').clone();
        rowCount++;
        $newRow.find('input, textarea, select').each(function () {
            var name = $(this).attr('name');
            if (name) {
                name = name.replace(/\[0\]/, '[' + rowCount + ']');
                $(this).attr('name', name);
            }
        });
  /*  $('#addRow').click(function() {
        var $newRow = $('#templateRow').find('tr').clone();
        rowCount++;
        $newRow.find('input, textarea, select').each(function() {
            var name = $(this).attr('name');
            if (name) {
                name = name.replace(/\[0\]/, '[' + rowCount + ']');
                $(this).attr('name', name);
            }
        });
        $('#productTable tbody').append($newRow);
    });*/

    $(document).on('click', '.removeRow', function() {
        $(this).closest('tr').remove();
    });
})
});
</script>

<!--Add Order-->
@*<button id="rowAdder" type="button">Click</button>
    <div id="newinput"></div>
    <div id="row">
        <div class="input-group m-3">
            <div class="input-group-prepend">
                <button class="btn btn-danger" id="DeleteRow" type="button">
                    <i class="bi bi-trash"></i> Delete
                </button>
            </div>
            <input type="text" class="form-control m-input">
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>

    <script type="text/javascript">
        $("#rowAdder").click(function () {
            newRowAdd =
                '<div id="row"> <div class="input-group m-3">' +
                '<div class="input-group-prepend">' +
                '<button class="btn btn-danger" id="DeleteRow" type="button">' +
                '<i class="bi bi-trash"></i> Delete</button> </div>' +
                '<input type="text" class="form-control m-input"> </div> </div>';

            $('#newinput').append(newRowAdd);
        });
        $("body").on("click", "#DeleteRow", function () {
            $(this).parents("#row").remove();
        })
    </script>
*@

@*<div class="container mt-3 border">
        <div class=" mt-3 mb-3 m-5">
            <h3>Add New Order</h3>
        </div>
        @using (@Html.BeginForm("Add", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            <div class="form-group mb-3 mt-3 col-md-10">
                @Html.Label("CustomerName", new { @class = "form-label" })
                @Html.TextBox("CustomerName", "", new { @class = "form-control", @Name = "CustomerName", @placeholder = "Enter Name" })
                @Html.ValidationMessage("CustomerName", "", new { @class = "text-danger" })

            </div>
            <div style="width:80%;">

                <div class="">
                    <div class="col-lg-12">
                        <div id="newinput"></div>
                        <button id="rowAdder" type="button" class="btn btn-dark">
                            <span class="bi bi-plus-square-dotted">
                            </span> ADD ITEM
                        </button>
                        <div id="row">
                            <div class="input-group m-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-danger" id="DeleteRow" type="button">
                                        <i class="bi bi-trash"></i> Delete
                                    </button>
                                </div>
                                @for (int i = 0; i < Model.orderItems.Count; i++)
                                {
                                    @Html.TextBoxFor(m => m.orderItems[i].OrderName, new { @class = "form-control", @Name = "OrderName", @placeholder = "Enter OrderItem" },
                                   Model.orderItems[i].OrderName, new { @readonly = "readonly" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-5 mb-3 mt-3">
                <input type="submit" value="Order" class="btn btn-success" />
            </div>

        }

    </div>*@



