@model IEnumerable<DynamicAdd.Models.tblProduct>
@{
    ViewBag.Title = "Home Page";
}

<h2>Product List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Size Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            foreach (var size in item.tblSizes)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@size.Size_Name</td>
                    <td>@size.price</td>
                    <td>
                        @Html.ActionLink(
                            "Update",
                            "Update",
                            "Home",
                            new { id = item.Id },
                            new
                            {
                                @class = "btn btn-warning"
                            }
                        )

                        @Html.ActionLink(
                            "Delete",  // The link text
                            "DeleteProduct",         // The action method
                            "Home",     // The controller
                           new { id = item.Id },
                            new
                            {
                                @class = "btn btn-danger",
                                data_bs_toggle = "modal",
                                data_bs_target = "#delete_" +  item.Id
                            }
                        )
                    </td>
                </tr>
            }
        }

        @foreach (var product in Model)
        {
            { Html.RenderPartial("_Delete", product); }
        }
    </tbody>
</table>