@model CRUDAjax.Models.Product
@{
    ViewBag.Title = "EditProduct";
}

<div class="container mt-3 table-bordered">
    <div class=" mt-3 mb-3 m-5">
        <h3>Edit Product</h3>
    </div>
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m=>m.ProductId, new { @id="id"})

        <div class="form-group m-5 mb-3 mt-3 ">
            @Html.LabelFor(m => m.Name, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "name", @placeholder = "Enter Product Name" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>
        <div class="form-group m-5 mb-3 mt-3 ">
            @Html.LabelFor(m => m.Category, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control", @id = "category", @placeholder = "Enter Product Category" })
            @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
        </div>

        <div class="form-group m-5 mb-3 mt-3 ">
            @Html.LabelFor(m => m.Price, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @id = "price", @placeholder = "Enter Product Price" })
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
        </div>
        <div class="form-group m-5 mb-3 mt-3 ">
            @Html.LabelFor(m => m.Stock, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", @id = "stock", @placeholder = "Enter Product Stock" })
            @Html.ValidationMessageFor(m => m.Stock, "", new { @class = "text-danger" })
        </div>
        <div class="form-group m-5 mb-3 mt-3">
            <input type="submit" value="Update" id="btnEditProduct" class="btn btn-success" />
        </div>

    }

</div>

